body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #151a1e;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.grid-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(14, 50px);
  grid-template-rows: repeat(11, 50px);
  position: relative;
}

.grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  position: relative;
}

.merged-cell {
  grid-column: 7 / span 2;
  grid-row: 1 / span 2;
  background-color: lightblue;
}

.letter {
  position: absolute;
}

.dot {
  width: 20px;
  height: 20px;
  border: 1px solid #4b5320;
  background-color: #4b5320;
  border-radius: 50%;
  position: absolute;
  transition: background-color 0.3s ease;
}

.dash {
  width: 30px;
  height: 10px;
  border-radius: 2px;
  border: 1px solid #4b5320;
  background-color: #4b5320;
  position: absolute;
  transition: background-color 0.3s ease;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 36px;
}

.btn {
  margin-left: 20px;
}

.connect {
  position: absolute;
  background-color: blue;
}

.highlight-letter {
  color: #b9e769;
  font-weight: bold;
  transform: scale(1.2);
  text-shadow: 0 0 8px #b9e769, 0 0 12px #b9e769;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.highlight-dash-dot {
  cursor: pointer;
  z-index: 999;
  background-color: #b9e769;
  border: 1px solid #b9e769;
  box-shadow: 10px 10px 100px 6px #b9e769;
  transition: background-color 0.3s ease-in-out;
  animation: wave 0.4s ease-out;
}

.highlight-line {
  cursor: pointer;
  z-index: 999;
  background-color: #708946;
  border: 1px solid #708946;
  box-shadow: 5px 5px 50px 3px #708946;
  transition: background-color 0.3s ease-in-out;
}

@keyframes wave {
  0% {
    box-shadow: 0 0 0px 0px rgba(255, 255, 0, 0.8);
  }
  50% {
    box-shadow: 0 0 10px 5px rgba(255, 255, 0, 1);
  }
  100% {
    box-shadow: 0 0 0px 0px rgba(255, 255, 0, 0.8);
  }
}
